
<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
  <div class="form-group row">
  <input type="text" #inputText placeholder="Input Task Name">
  
    
  

    <!-- <mat-label>Choose a date</mat-label> -->
    <div class="col-md-10">
       <input matInput [matDatepicker]="picker" placeholder="Select a Date" #selectedDate>
    </div>
    <div class="col-md-2">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </div>
      <mat-datepicker #picker></mat-datepicker>
    
  
  
  <button class="btn waves-effect waves-light" type="button" name="action" (click)="addTask(inputText.value,selectedDate.value)">ADD
    <i class="material-icons right">send</i>
  </button>
  <button type="button" class="btn btn-raised btn-danger" (click)="close()"><i class="fa fa-window-close">
   
    </i></button>
</div>
  
</div>
<!-- <mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
</mat-form-field> -->
