
<body>

<div style="text-align: center;" class="align">
    
    <button class="btn btn-grad wave-effect "  (click)="openDialog()"><i class="fa fa-plus">ADD TODO</i></button>
    
    
</div>
<div class="form-row col-md-12 ">
 
    <div class="col-md-2 offset-md-4">
    <input matInput [matDatepicker]="dp" [formControl]="date" #selectedMonth >
    
  </div>
  <div class="col-md-1">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </div>
  <div class="col-md-2"><input type="button" (click)="passMonthYear(selectedMonth.value)" class="btn btn-outline-dark" value="Search"></div>
</div> 

   <div class="form-row col-md-12">
    <div class="month rounded">      
      <ul>
       
        <li>
          <input type="hidden" value="{{perticularMonthValue}}">
          {{perticularMonth}}<br>
          <span style="font-size:18px">{{perticularYear}}</span>
        </li>
      </ul>
    </div>
    
 
      <div *ngFor="let taskChat of dateWiseTem;let i=index "  class="col-md-1 " >  
      
        <div class="w-110 p-3 h-200 effect7" style="margin-top: 5%;">
         <h3 class="btn col-md-8 " (click)="openTaskDialog(i+1,perticularMonthValue,perticularYear)">{{i+1}}</h3><br>

          <label *ngIf="dateWiseTem[i].count" style="background-color: teal;color: white;">Total: {{dateWiseTem[i].count}}</label>
           <label   style="background-color: rgb(238, 145, 145);color: white;" *ngIf="dateWiseTem[i].pendingCount">Pending: {{dateWiseTem[i].pendingCount}}</label>
        
          
          </div>
        </div>
  </div>

</body>