body, html {
    /* height: 100vh;
    background-image: url("../../assets/images/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; */
  }
  .btn-grad {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9 51%, #1D976C 100%)}
.btn-grad:hover { background-position: right center; }

.align{
  margin-top: 0em;
}


  .bg {
    /* The image used */
    background-image: url("../../assets/images/background.jpg");
  
    /* Half height */
    height: 100vh;
 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .btn{
    padding-top: 0em;
  }


  body,
html {
    margin: 0;
    padding: 0;
}

div.ex3 {
  background-color:transparent;
  width: auto;
  height: 300px;
  overflow: auto;
  margin-top: 5%;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.box h3{
  text-align:center;
	position:relative;
	top:40px;
}
.box {
	/* width:110%;
	height:100px; */
	background:#FFF;
	margin:20px auto;
}

.effect7
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
