<div style="text-align: center;font-weight: bold;font-size: 16px;">{{descript["Date"]}}-{{perticularMonth}}</div>
<hr>
<div>
     <div class="form-row col-md-12">
   
    <!-- <label class="bg-success text-white font-weight-bold font-italic " style="font-size: large;">{{i+1}}/{{month}}/{{year}}</label> -->

    <div *ngIf="task" class="col-md-12  ">
    
      <ul *ngFor="let task of task;let j=index"   >
        
      <div>
       <li><label class="container " ><input type="checkbox" [(ngModel)]="task.isChecked" (change)="checkValue(task)" name="{{task.task}}" ><span class="checkmark"></span><b>{{task.task}}</b>
         <i class="fa fa-trash float-right"  (click)="deleteTask(task.todoId)" style="margin-top: 5px;"></i> </label></li>  
        </div>   
                       
      </ul>
    </div> 
    
      
   </div> 
</div>
<button type="button" class="btn btn-raised btn-danger" (click)="close()"><i class="fa fa-window-close"></i>