<!DOCTYPE html>
<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

<!-- //web font -->

</head>

<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
	
		<div class="main-agileinfo col-5">
			<h5 class="card-header info-color white-text text-center py-4">
				<strong>SIGN UP</strong>
			  </h5>
			<div class="agileits-top" >
				
				<form name="myForm" #myForm="ngForm" autocomplete="off" (ngSubmit)="ValuePass(myForm)" >
					<input type="hidden" name="userId" #userId="ngModel" [(ngModel)]="user.userId" >
					<div class="row">
					<input class="text"  type="text" name="username" #username="ngModel" [(ngModel)]="user.username" placeholder="Username"  required >
					<!-- <sup *ngIf="!isValid && user.username==''" style="color:#76b852;font-size: 25px;">
                       **
					</sup> -->
				</div>
				<br>
				<div class="row">
					<input class="text " type="email" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" required>
					<!-- <sup *ngIf="!isValid && user.email==''" style="color:orangered;font-size: 25px;">
						**
					</sup> -->
				</div>
				<br>
				<div class="row">
					<input class="text" type="password" name="password" #password="ngModel" [(ngModel)]="user.password"  placeholder="Password" required>
					<!-- <sup *ngIf="!isValid && user.password==''" style="color:orangered;font-size: 25px;">
						**
					</sup> -->
				</div>
					 <br> 
					 <div class="row">                   
					<input class="text " type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" placeholder="FirstName" required>
					<!-- <sup *ngIf="!isValid && user.firstName==''" style="color:orangered;font-size: 25px;">
						**
					</sup> -->
					 </div>
					 <br>
					 <div class="row">
					<input class="text " type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" placeholder="LastName" required>
					<!-- <sup *ngIf="!isValid && user.lastName==''" style="color:orangered;font-size: 25px;">
						**
					</sup> -->
					 </div>
					<input type="submit"  value="SIGNUP" [disabled]="myForm.invalid">
				</form>
				<p>Don't have an Account? <a href="#"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<!-- <div class="colorlibcopy-agile">
			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
		</div> -->
		<!-- //copyright -->
	
	</div>
	<!-- //main -->
</body>
</html>


