<div class=" card ">
  <div class="card-content ">
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a routerLink="/login" routerLinkActive="active">SIGN IN</a></li>
      <li class="tab"><a  routerLink="/signUp" routerLinkActive="active">SING UP</a></li>
      
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <router-outlet></router-outlet>
  </div>
</div>