<!-- Material form login -->
<style>
    #addQuestion{
    
    width: 100%;
    
   
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.btn{
    padding-top: 0em;
}
</style>
<div id="addQuestion">
<div class="card col-6">

    <h5 class="card-header info-color white-text text-center py-4" style="margin-top: 3%;">
      <strong style="font-size: 20px;">Sign In</strong>
    </h5>
  
    <!--Card content-->
    <div class="card-body ">
  
      <!-- Form -->
      <form  style="color: #757575;" name="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  
        <!-- Email -->
        <div class="md-form">
          <input type="email" name="username" #username="ngModel" [(ngModel)]="user.username"  id="materialLoginFormEmail" class="form-control" required>
          <label for="materialLoginFormEmail">UserName</label>
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password"  id="materialLoginFormPassword" class="form-control" required>
          <label for="materialLoginFormPassword">Password</label>
        </div>
  
        
        <button class="btn btn-outline-info btn-rounded btn-block  waves-effect " type="submit" [disabled]="loginForm.invalid">Sign in</button>
  
        <!-- <input class="btn btn-outline-info btn-rounded btn-block  waves-effect " type="submit"  value="SIGN IN" [disabled]="loginForm.invalid"> -->
     
  
      </form>
   
  
    </div>
  
  </div>

</div>